@using CinemaApp.Models

@model IEnumerable<CinemaApp.Models.Movie>
@{
    ViewBag.Title = "allMovies";
}

<div class="row">
    @foreach (var item in Model)
    {
        if (item.IsAnnouncement == false)
        {
            <div class="col-sm-12 col-md-6 col-lg-6 movie-item ">
                <div class="movie-poster">
                    <a href="@Url.Action("Details", "Movies", new { id = item.MovieId })">
                        <img src="~/Images/@Html.DisplayFor(modelItem => item.Image)" />
                    </a>
                </div>
                <div class="movie-data">
                    <div class="movie-name">
                        <a href="@Url.Action("Details", "Movies", new { id = item.MovieId })">
                            <h3 class="movie-title">@Html.DisplayFor(modelItem => item.MovieTitle)</h3>
                        </a>
                        @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <div style="float:right; position: absolute; margin-left: 280px; margin-top: -30px;">
                                <a class="mini-btn" href="@Url.Action("Edit", "Movies", new { id = item.MovieId  })"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="mini-btn" data-target="#DeleteMovieModal" data-toggle="modal" href="@Url.Action("Delete", "Movies", new { id = item.MovieId  })"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        }
                    </div>
                    <label>@Html.DisplayFor(modelItem => item.OriginalTitle)</label> |
                    <label>@Html.DisplayFor(modelItem => item.Genre1.GenreName)</label> |
                    <label>@Html.DisplayFor(modelItem => item.Duration)</label>
                    <br />
                    <p class="synopsis"> @Html.DisplayFor(modelItem => item.Synopsis)</p>
                </div>
            </div>
        }
    }
</div>

<div class="modal" id="DeleteMovieModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>