@model CinemaApp.Models.Projection

@{
    ViewBag.Title = "Izmjena";
}
<div class="container" align="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <div class="form-horizontal my-background small-form" align="center">
            <h2 class="page-title text-center">Izmjena</h2>
            <hr class="hr-gray" />
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProjectionId)

            <div class="form-group">
                @Html.LabelFor(model => model.MovieId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("MovieId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MovieId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AuditoriumId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("AuditoriumId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AuditoriumId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ">
                @Html.LabelFor(model => model.TicketPrice, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TicketPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <p style="color: #a94442;">@ViewBag.Message</p>
            <hr class="hr-gray" />
            <div class="form-group margin-top-20">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Sačuvaj" class="btn btn-success" />
                    <a class="btn btn-default" href="@Url.Action("Index", "Movies")"> Odustani </a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
