@model IEnumerable<CinemaApp.Models.Auditorium>

@{
    ViewBag.Title = "Sale";
}

<div class="container">
    <h2 class="page-title margin-right-20">
        Sale za projekcije
        <a class="btn btn-default" href="@Url.Action("Create", "Auditoriums")" style="float:right">
            <span class="glyphicon glyphicon-plus"></span>  Dodaj salu
        </a>
    </h2>
    <hr class="hr-shadow" />
    <br />
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-md-3 auditorium-card my-background">
                    <h3 class="nomargin text-center">
                        @Html.DisplayFor(modelItem => item.AuditoriumName)
                    </h3>
                    <hr class="hr-shadow" />
                    <p style="margin-left: 5px;">
                        @Html.DisplayNameFor(model => model.Capacity): <strong> @Html.DisplayFor(modelItem => item.Capacity) </strong> <br />
                        @Html.DisplayNameFor(model => model.NumberOfRows): <strong>@Html.DisplayFor(modelItem => item.NumberOfRows) </strong>
                    </p>
                    <a class="btn btn-primary btn-block" href="@Url.Action("Details", "Auditoriums", new { id = item.AuditoriumId  })">Detalji</a>
                </div>
            }
        </div>
    </div>
</div>
